:root {
  --text-color: #be25e3;
  --ring-color: #5F25E3;
  --bg-color: #090316;
  --white: #fff;
  --black: #000;
  --mob-color: #B840D1;
  --para-text: #c3c3c3;
}

.home-info {
  padding-bottom: 25%;
}

.arr {
  display: none;
  margin-left: 20px;
  /* Adjust as needed */
}

.btn button:hover .arr {
  display: inline;
}

body {
  background-color: var(--bg-color);
}

.content {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;

}

.content .mobile-app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-app .left {
  flex: 1;
}

.mobile-app .right {
  flex: 1;
}




h4 {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.left ul {
  list-style: none;
  color: var(--para-text);
  margin-left: 50px;
  margin-top: -12px;
  font-family: 'Cairo', sans-serif;
}

.tech-badge:hover {
  transform: translateY(-5px);
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  font-family: 'Cairo', sans-serif;
  font-size: 15px;
}

.tech-badge {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background: var(--text-color);
  box-shadow: 0 0 30px var(--text-color);
  border-radius: 4px;
  margin: 5px;
  transition: transform 0.3s ease;
  color: #000;
}

.tech-badge img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

#video {
  width: 500px;
  height: auto;
  transition: 0.3s ease;
}

#apple-download{
  width: 150px;
}

@media screen and (max-width: 700px) {
  .right .profile {
    margin-top: -50px;
  }

  .left {
    margin-top: -30px;
  }

  #video{
    width: 300px;
    padding-bottom: 25%;
  }
  #apple-download{
    width: 120px;
    margin-bottom: 20px;
  }

}

/* MEDIA SCREEN */
@media screen and (max-width: 1280px) {


  /* Home */
  .content {
    position: relative;
    height: 100%;
  }

  .mobile-app {
    flex-direction: column;
  }
  #video{
    width: 400px;
    height: auto;
}

}
@media screen and (max-width: 767px){
  #video{
      width: 375px;
      height: auto;
  }
}
@media screen and (max-width: 567px){
 #video{
      width: 300px;
      height: auto;
  }
}