:root {
    --text-color: #be25e3;
    --ring-color: #5F25E3;
    --bg-color: #090316;
    --white: #fff;
    --black: #000;
    --mob-color: #B840D1;
    --para-text: #c3c3c3;
  }
  
  .home-info{
    padding-bottom: 25%;
  }
  
  .arr {
    display: none;
    margin-left: 20px; /* Adjust as needed */
  }
  
  .btn button:hover .arr {
    display: inline;
  }

  body{
    background-color: var(--bg-color);
  }
  
@media screen and (max-width: 700px) {
    .right .profile{
        margin-top: -50px;
    }
    .left{
        margin-top: -30px;
    }
}
    

