body {
    margin: 0;
    background-color: #D3E0FC;
}

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #2c3e66;
    letter-spacing: 1.5px;
    font-weight: 800;
}



h2 {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    color: #2c3e66;
    text-align: center;
}

p {
    font-family: 'Bitter', serif;
    font-weight: 500;
    width: 25%;
    line-height: 32.5px;
    margin: auto;
}

hr {
    border-top: 2.5px solid #7d9cde;
    background-color: #D3E0FC;
}