body {
    margin: 0;
    background-color: #D3E0FC;
}

* {
    box-sizing: border-box;
}


.column-left, .column-right {
    float: left;
    padding: 10px;
}

.column-left{
    margin-left: 15%;
    width: 25%;
}

.column-right{
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 75%;
    
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #2c3e66;
    letter-spacing: 1.5px;
    font-weight: 800;
    text-align: center;
}


h2 {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    color: #2c3e66;
}

p {
    font-family: 'Bitter', serif;
    font-weight: 500;
    line-height: 32.5px;
    color: #313236;
}

hr {
    border-top: 2.5px solid #7d9cde;
    background-color: #D3E0FC;
}