:root {
  --text-color: #be25e3;
  --ring-color: #5F25E3;
  --bg-color: #090316;
  --white: #fff;
  --black: #000;
  --mob-color: #B840D1;
  --para-text: #c3c3c3;
}
 #community-work{
  width: 600px;
  border-radius: 20px;
  border: 5px solid var(--ring-color);
  box-shadow: 0 0 80px var(--ring-color);
  transition: 0.3s ease;
}

#community-work:hover{
    transform: translateY(-5px);
    color: var(--text-color);
    background: transparent;
}

.home-info{
  padding-top: 100px;
  padding-bottom: 25%;
}

.arr {
  display: none;
  margin-left: 20px; /* Adjust as needed */
}

.btn button:hover .arr {
  display: inline;
}

body {
  background-color: var(--bg-color);
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline p{
  color: var(--bg-color);
  font-family: 'Cairo', sans-serif;
}
.timeline h2{
  color: var(--bg-color);
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom: 10px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.cnt {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.cnt::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--bg-color);
  border: 4px solid var(--white);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.lft {
  left: 0;
}

/* Place the container to the right */
.rght {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.lft::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--mob-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--mob-color);
}

/* Add arrows to the right container (pointing left) */
.rght::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--mob-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--mob-color) transparent transparent;
}

/* Fix the circle for containers on the right side */
.rght::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: var(--mob-color);
  box-shadow: 0 0 30px var(--text-color);
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .cnt {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .cnt::before {
  left: 60px;
  border: medium solid var(--mob-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--mob-color) transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .lft::after, .rght::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .rght {
  left: 0%;
  }
}
