body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

html,
body {
  background: linear-gradient(135deg, rgb(203, 211, 164) 0%, rgb(173, 172, 184) 100%) !important;
  background-repeat: no-repeat;
  background-size: cover;    
  background-color: rgb(203, 211, 164); 
}
